<!DOCTYPE html>

<head>
    {{template "header.html" "Links"}}
</head>


<body class="header-fixed sidebar-fixed sidebar-dark header-dark" id="body">
    <div class="wrapper">
        {{template "navbar.html" "links"}}

        <div class="page-wrapper">
            <!-- Header -->
            <header class="main-header " id="header">
                <nav class="navbar navbar-static-top navbar-expand-lg">
                    <!-- Sidebar toggle button -->
                    <button id="sidebar-toggler" class="sidebar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                </nav>
            </header>

            <div class="content-wrapper">
                <div class="content">
                    <div id="template_target"></div>

                    <div class="card card-default">
                        <div class="card-header card-header-border-bottom">
                            <h2>Add New Link</h2>
                        </div>
                        <div class="card-body">
                            <form id="new-link">
                                <div class="form-group">
                                    <label>Existing Path</label>
                                    <input type="text" id="link-old-path" class="form-control"
                                        placeholder="/movies/Some Movie/movie.mkv">
                                </div>
                                <div class="form-group">
                                    <label>New Link Path</label>
                                    <input type="text" id="link-new-path" class="form-control"
                                        placeholder="/library/Some Movie (2024)/movie.mkv">
                                    <div class="invalid-feedback" id="link-feedback"></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-default">Add</button>
                                </div>
                                <div class="form-footer pt-4 pt-5 mt-4 border-top">
                                    <div class="sk-double-bounce" id="submit_link_loading" style="display: none;">
                                        <div class="double-bounce1"></div>
                                        <div class="double-bounce2"></div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <footer class="footer mt-auto">
                    <div class="copyright bg-white">
                    </div>
                </footer>
            </div>

            {{template "footer.html"}}

            <script src="assets/js/links.js"></script>
            <script>
                Distribyted.poller(function () {
                    Distribyted.links.loadView();
                }, 2000, 30000)

            </script>
</body>

</html>
